* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", "system-ui", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    line-height: 1.5;
}

button {
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 6px 12px 6px 12px;
    border: none;
    // border-radius: 4px;
    color: white;
    font-family: "Roboto Mono", "system-ui", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    line-height: 1.5;
    background-color: black;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

#canvas {
    display: flex;
    width: 100%;
    height: 100vh;
}

#board {
    flex-grow: 1;

    display: flex;
    align-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;

    & > * {
        padding: 16px;
    }
}

// #board-title, #player-title {
//     font-weight: 700; 
// }

#board-rows {
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 16px;
}

#new-row {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 8px;
    padding: 12px;
    border-radius: 16px;
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.24);
    // border-style: dashed;
    background-color: white;
}

.row {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 362px; // width of 7 cards
    margin: 8px;
    padding: 12px;
    border-radius: 16px;
    // box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.24);
    // background-color: #EEEEEE;

    // &:nth-child(odd) {
    //     background-color: #EEEEEE;
    // }

    &.invalid {
        // box-shadow: 0 0 0 2px pink;
        border-color: red;
    }
}

#player {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    min-width: 224px; // width of 4 cards
    max-width: 416px; // width of 8 cards
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.24);
    background-color: white;
    overflow: scroll;
    resize: horizontal;

    & > * {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }
}

#player-hand {
    flex-grow: 0;
}

#player-rack {
    flex-grow: 1;

    overflow-y: scroll;
}

#player-controls {
    flex-grow: 0;

    // display: flex;
    // justify-content: flex-end;
}

#button-new-row {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: none;
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-style: dashed;
    font-size: 24px;
    border-radius: 8px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 8px;
    border: 1px solid black;
    // box-shadow:
    //     0 0 1px rgba(0, 0, 0, 0.32),
    //     0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 24px;
    font-weight: 700;
    background-color: white;
    user-select: none;
    cursor: pointer;

    &.held {
        box-shadow: 0 0 0 2px springgreen;
    }

    &.black {
        border-color: green;
        color: green;
    }

    &.blue {
        border-color: blue;
        color: blue;
    }

    &.orange {
        border-color: orange;
        color: orange;
    }

    &.red {
        border-color: red;
        color: red;
    }
}